*,
*::before,
*::after {
    box-sizing: border-box;
}



/* General styles */

body {
    background: #fff;
    color: #303030;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    
    font-size: 1rem;
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: 900; }
/* Typography */

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: 6rem; }
h2 { font-size: 3.75rem; }
h3 { font-size: 1.5rem; }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: 300;
}

.section__title--intro strong {
    display: block;
}

/* This affects the size of the font in the blue intro accent */
.section__subtitle {
    margin: 0;
    font-size: 1.5rem;
}

.section__subtitle--intro,
.section__subtitle--about {
    background:  #16c5ff;
    padding: .25em 1em;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1em;
}



/* header */

.nav {
   
    overflow: hidden;
    background-color:  white
  }
  
  /* Navbar links */
  .nav a {
    float: right;
    display: block;
    color: #333;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .nav a:hover {
    background-color: white;
    color: red;
  }
  

/*  Intro section  */

.intro {
    position: relative;
}

/* box shadow around profile picture */
.intro__img {
    box-shadow:  0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.section__subtitle--intro {
    display: inline-block;
}

/* Container to put Three elements of intro together */
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 300px;
        position: relative;
        z-index: 2;
        
        border-radius: 50%;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}


.my-services  {
    flex-wrap: wrap;

    background-color: #303030;
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: #fff;
    text-align: center;
}
/* Flex box table */
.services {
     display: flex;
     padding-top: 5.8rem;
     padding-bottom: 25rem;
     gap: 50px;
    }
    
    .services {
    flex: 60%;
    }

    /* Flex box table */


    .my-work {
  
        text-align: center;
        font-size: 5rem;
        padding-top: 2rem;
    
       }
      
    
       .products {
        flex: 4;
        background-color: #fff;
        padding: 55px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
      }
      
      /* Added rotation, box-shadow, border-radius */
      .card {
      
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        padding: 10px;
        flex: 0 0 300px;
        transform: rotate(8deg);
        box-shadow: 10px 10px 5px #aaaaaa;
        margin: 20px;
        
      }
      
      /* Added border-radius to match the card */
      .card header {
        border-radius: 50px 50px 0px 0px;
        padding: 20px;
        
      }
      
      .card p {
        text-align: center;
        
      }
      
      /* make image round */
      .card img {
        border-radius: 100%;
        width: 100%;
        
      }
      
      /* removes bullets from ul */
      ul.no-bullets {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    
    
    /* Cards are split into two columns at 992px or smaller */
    @media screen and (max-width: 992px) {
        .card {
          width: 50%;
        }
        /* Change the header color */
        header {
          background: #14cc64;
        }
      }
      

  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    /* Change the header color */
    header, .section__subtitle--intro,
    .section__subtitle--about  {
      background: #ffb78a;
    }
  }
  /* make CARD GLOW TRANSITION */
  .card:hover,
  .card:hover .card header {
    box-shadow: inset 0px 0px 8px rgb(16, 219, 226), 0 0 15px rgb(243, 12, 251);
  }

  

  .card {
    height: 300px; 
    overflow: hidden; 
  }
  
  /* Transition property for smooth transformation of images */
  .card:hover,
  .card:hover .card header {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .card img:hover,
  .card:focus .card img{
    transform: scale(1.28);
  }



  /* footer */
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background:  #16c5ff;
    
    margin-top: auto;
  }

